<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYPhotoBrowserDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0462CE771CBC9B100075C4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0462CE931CBC9B100075C4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0462CE9E1CBC9B100075C4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
